language: java

## Version for Ubuntu 14.04 Trusty.
## Problem: The job times out on travis-ci.org.
# script: make DAIKONDIR=`pwd` nightly-test
# sudo: required
# dist: trusty
# before_install:
#   - sudo apt-get update -qq
#   - sudo apt-get install -qq graphviz texinfo texlive

## Version for container-based infrastructure.
## Skip generating the manual because the version of makeinfo installed
## on Ubuntu 12.04 Precise doesn't take the --pdf command-line option.
script: make DAIKONDIR=`pwd` nightly-test-except-doc-all
sudo: false
addons:
  apt:
    packages:
      - graphviz
      - texi2html
      - texinfo
# On Travis-CI's Ubuntu 12.04 infrastructure, makeinfo does not take the
# --split=chapter command-line argument but texi2html does.
env: TEXI2HTML=texi2html

jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7

notifications:
  email:
    - mernst@cs.washington.edu
    - markro@cs.washington.edu
