sudo: false

language: generic

services:
  - docker

# jdkany contains extra packages that permit it to be used to build the manual
env:
  - OS=ubuntu JDKVER=jdk7 GROUP=quick-txt-diff
  - OS=ubuntu JDKVER=jdk7 GROUP=nonquick-txt-diff
  - OS=ubuntu JDKVER=jdk7 GROUP=non-txt-diff
  - OS=ubuntu JDKVER=jdk8 GROUP=quick-txt-diff
  - OS=ubuntu JDKVER=jdk8 GROUP=nonquick-txt-diff
  - OS=ubuntu JDKVER=jdk8 GROUP=non-txt-diff
  - OS=ubuntu JDKVER=jdkany GROUP=misc
  - OS=ubuntu JDKVER=jdkany GROUP=kvasir
## Fedora 23 is old, don't bother testing it any more.
#  - OS=fedora23 JDKVER=jdk8 GROUP=nonquick-txt-diff
## It's not trivial to install JDK7 on Fedora 24 and later, so test only JDK 8.
#  - OS=fedora JDKVER=jdk7 GROUP=quick-txt-diff
#  - OS=fedora JDKVER=jdk7 GROUP=nonquick-txt-diff
#  - OS=fedora JDKVER=jdk7 GROUP=non-txt-diff
  - OS=fedora JDKVER=jdk8 GROUP=quick-txt-diff
  - OS=fedora JDKVER=jdk8 GROUP=nonquick-txt-diff
  - OS=fedora JDKVER=jdk8 GROUP=non-txt-diff
  - OS=fedora JDKVER=jdkany GROUP=misc
  - OS=fedora JDKVER=jdkany GROUP=kvasir
  - OS=centos JDKVER=jdk8 GROUP=nonquick-txt-diff
  - OS=centos JDKVER=jdkany GROUP=kvasir

# Currently-failing jobs
# This section is temporary and should be commented out when no jobs are failing.
# It repeats things that were listed above in the "env" section.
# matrix:
#   allow_failures:
#     - env: OS=fedora JDKVER=jdkany GROUP=kvasir
#     - env: OS=centos JDKVER=jdkany GROUP=kvasir

before_script:
- docker pull mdernst/$OS-for-daikon-$JDKVER > /dev/null 2>&1 || true

script:
- docker run mdernst/$OS-for-daikon-$JDKVER /bin/sh -c "export JAVA_HOME=\`which javac|xargs readlink -f|xargs dirname|xargs dirname\` && git clone --quiet -b $TRAVIS_BRANCH --depth 10 https://github.com/$TRAVIS_REPO_SLUG.git daikon && cd daikon && java -version && javac -version && ./.travis-build.sh $GROUP"

jobs:
  include:
    - stage: trigger-downstream
      script: |
          echo "TRAVIS_BRANCH=$TRAVIS_BRANCH TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"
          if [[ ($TRAVIS_BRANCH == master) &&
                ($TRAVIS_PULL_REQUEST == false) ]] ; then
            SLUGOWNER=${TRAVIS_REPO_SLUG%/*}
            if [[ "$SLUGOWNER" == "" ]]; then
              SLUGOWNER=codespecs
            fi

            curl -LO https://raw.github.com/mernst/plume-lib/master/bin/trigger-travis.sh

            git ls-remote https://github.com/${SLUGOWNER}/daikon-typecheck.git &>-
            if [ "$?" -eq 0 ]; then
              sh trigger-travis.sh ${SLUGOWNER} daikon-typecheck $TRAVISTOKEN
            fi

          fi

git:
  depth: 10
