# Workaround for https://status.dev.azure.com/_event/179641421
trigger:
  branches:
    include:
    - '*'
pr:
  branches:
    include:
    - '*'


jobs:

- job: quick_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: nonquick_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: non_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: misc_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: kvasir_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: typecheck_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: |
      java -version
      javac -version
    displayName: show Java version
  - bash: ./scripts/test-typecheck.sh
    displayName: test-typecheck.sh

- job: quick_txt_diff_fedora_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: nonquick_txt_diff_fedora_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: non_txt_diff_fedora_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: misc_fedora_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

## Flaky; needs to be fixed.
# - job: kvasir_fedora_jdk8
#   pool:
#     vmImage: 'ubuntu-latest'
#   container: mdernst/daikon-fedora-jdk8-plus:latest
#   steps:
#   - checkout: self
#     fetchDepth: 25
#   - bash: ./scripts/test-kvasir.sh
#     displayName: test-kvasir.sh

- job: quick_txt_diff_centos_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: nonquick_txt_diff_centos_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: non_txt_diff_centos_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: misc_centos_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

# Remove "_nondeterministic" from the name once it is deterministic.
- job: kvasir_centos_jdk8_nondeterministic
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh
