# Workaround for https://status.dev.azure.com/_event/179641421
trigger:
  branches:
    include:
    - '*'
pr:
  branches:
    include:
    - '*'


jobs:

# The dependsOn clauses are:
#  * Everything not *_ubuntu_jdk11 or typecheck_jdk11 depends on jdk11_jobs.
#  * Anything *_jdk8 depends on *_jdk11.
#  * Anything *_jdk17 depends on *_jdk11.
#  * Anything *_centos_* or *_fedora_* depends on *_ubuntu_*.

# The remainder of jobs are run only if the jdk11_jobs pass.
- job: jdk11_jobs
  dependsOn:
    - quick_txt_diff_ubuntu_jdk11
    - nonquick_txt_diff_ubuntu_jdk11
    - non_txt_diff_ubuntu_jdk11
    - misc_ubuntu_jdk11
    - kvasir_ubuntu_jdk11
    - typecheck_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - checkout: none
  - bash: true

- job: quick_txt_diff_ubuntu_jdk8
  dependsOn:
    - jdk11_jobs
    - quick_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: quick_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: quick_txt_diff_ubuntu_jdk17
  dependsOn:
    - jdk11_jobs
    - quick_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: nonquick_txt_diff_ubuntu_jdk8
  dependsOn:
    - jdk11_jobs
    - nonquick_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: nonquick_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: nonquick_txt_diff_ubuntu_jdk17
  dependsOn:
    - jdk11_jobs
    - nonquick_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: non_txt_diff_ubuntu_jdk8
  dependsOn:
    - jdk11_jobs
    - non_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: non_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: non_txt_diff_ubuntu_jdk17
  dependsOn:
    - jdk11_jobs
    - non_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: misc_ubuntu_jdk8
  dependsOn:
    - jdk11_jobs
    - misc_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: misc_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: misc_ubuntu_jdk17
  dependsOn:
    - jdk11_jobs
    - misc_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk17-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: kvasir_ubuntu_jdk8
  dependsOn:
    - jdk11_jobs
    - kvasir_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: kvasir_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: kvasir_ubuntu_jdk17
  dependsOn:
    - jdk11_jobs
    - kvasir_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk17-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: typecheck_jdk8
  dependsOn:
    - jdk11_jobs
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8-plus:latest
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: |
      java -version
      javac -version
    displayName: show Java version
  - bash: ./scripts/test-typecheck.sh
    displayName: test-typecheck.sh

- job: typecheck_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk11-plus:latest
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: |
      java -version
      javac -version
    displayName: show Java version
  - bash: ./scripts/test-typecheck.sh
    displayName: test-typecheck.sh

- job: typecheck_jdk17
  dependsOn:
    - jdk11_jobs
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk17-plus:latest
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: |
      java -version
      javac -version
    displayName: show Java version
  - bash: ./scripts/test-typecheck.sh
    displayName: test-typecheck.sh

- job: quick_txt_diff_fedora_jdk8
  dependsOn:
    - jdk11_jobs
    - quick_txt_diff_fedora_jdk11
    - quick_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: quick_txt_diff_fedora_jdk11
  dependsOn:
    - jdk11_jobs
    - quick_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: quick_txt_diff_fedora_jdk17
  dependsOn:
    - jdk11_jobs
    - quick_txt_diff_fedora_jdk11
    - quick_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: nonquick_txt_diff_fedora_jdk8
  dependsOn:
    - jdk11_jobs
    - nonquick_txt_diff_fedora_jdk11
    - nonquick_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: nonquick_txt_diff_fedora_jdk11
  dependsOn:
    - jdk11_jobs
    - nonquick_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: nonquick_txt_diff_fedora_jdk17
  dependsOn:
    - jdk11_jobs
    - nonquick_txt_diff_fedora_jdk11
    - nonquick_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: non_txt_diff_fedora_jdk8
  dependsOn:
    - jdk11_jobs
    - non_txt_diff_fedora_jdk11
    - non_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: non_txt_diff_fedora_jdk11
  dependsOn:
    - jdk11_jobs
    - non_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: non_txt_diff_fedora_jdk17
  dependsOn:
    - jdk11_jobs
    - non_txt_diff_fedora_jdk11
    - non_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: misc_fedora_jdk8
  dependsOn:
    - jdk11_jobs
    - misc_fedora_jdk11
    - misc_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: misc_fedora_jdk11
  dependsOn:
    - jdk11_jobs
    - misc_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: misc_fedora_jdk17
  dependsOn:
    - jdk11_jobs
    - misc_fedora_jdk11
    - misc_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk17-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: kvasir_fedora_jdk8
  dependsOn:
    - jdk11_jobs
    - kvasir_fedora_jdk11
    - kvasir_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: kvasir_fedora_jdk11
  dependsOn:
    - jdk11_jobs
    - kvasir_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: kvasir_fedora_jdk17
  dependsOn:
    - jdk11_jobs
    - kvasir_fedora_jdk11
    - kvasir_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk17-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: quick_txt_diff_centos_jdk8
  dependsOn:
    - jdk11_jobs
    - quick_txt_diff_centos_jdk11
    - quick_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: quick_txt_diff_centos_jdk11
  dependsOn:
    - jdk11_jobs
    - quick_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: quick_txt_diff_centos_jdk17
  dependsOn:
    - jdk11_jobs
    - quick_txt_diff_centos_jdk11
    - quick_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: nonquick_txt_diff_centos_jdk8
  dependsOn:
    - jdk11_jobs
    - nonquick_txt_diff_centos_jdk11
    - nonquick_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: nonquick_txt_diff_centos_jdk11
  dependsOn:
    - jdk11_jobs
    - nonquick_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: nonquick_txt_diff_centos_jdk17
  dependsOn:
    - jdk11_jobs
    - nonquick_txt_diff_centos_jdk11
    - nonquick_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: non_txt_diff_centos_jdk8
  dependsOn:
    - jdk11_jobs
    - non_txt_diff_centos_jdk11
    - non_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: non_txt_diff_centos_jdk11
  dependsOn:
    - jdk11_jobs
    - non_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: non_txt_diff_centos_jdk17
  dependsOn:
    - jdk11_jobs
    - non_txt_diff_centos_jdk11
    - non_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: misc_centos_jdk8
  dependsOn:
    - jdk11_jobs
    - misc_centos_jdk11
    - misc_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: misc_centos_jdk11
  dependsOn:
    - jdk11_jobs
    - misc_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: misc_centos_jdk17
  dependsOn:
    - jdk11_jobs
    - misc_centos_jdk11
    - misc_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk17-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: kvasir_centos_jdk8
  dependsOn:
    - jdk11_jobs
    - kvasir_centos_jdk11
    - kvasir_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: kvasir_centos_jdk11
  dependsOn:
    - jdk11_jobs
    - kvasir_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: kvasir_centos_jdk17
  dependsOn:
    - jdk11_jobs
    - kvasir_centos_jdk11
    - kvasir_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk17-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

