jobs:

- job: quick_txt_diff_ubuntu
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: nonquick_txt_diff_ubuntu
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: non_txt_diff_ubuntu
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: misc_ubuntu
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-ubuntu-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: kvasir_ubuntu
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-ubuntu-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: quick_txt_diff_fedora
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: nonquick_txt_diff_fedora
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: non_txt_diff_fedora
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: misc_fedora
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: |
      export JAVA_HOME=${JAVA_HOME:-`which javac|xargs readlink -f|xargs dirname|xargs dirname`}
      java -version
      javac -version
    displayName: show environment
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: kvasir_fedora
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-fedora-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: kvasir_fedora_old_docker_container
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/fedora-for-daikon-jdkany:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: quick_txt_diff_centos
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: nonquick_txt_diff_centos
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: non_txt_diff_centos
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: misc_centos
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: kvasir_centos
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: kvasir_centos_old_container
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/centos-for-daikon-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh
