# Workaround for https://status.dev.azure.com/_event/179641421
trigger:
  branches:
    include:
    - '*'
pr:
  branches:
    include:
    - '*'


jobs:

# The dependsOn clauses (in this file and in .circleci/config.yml) are:
#  * Everything not *_ubuntu_jdk17 or typecheck_jdk17 depends on jdk17_jobs.
#  * Anything *_jdk8 or *_jdk11 depends on *_jdk17.
#  * Anything *_centos_* or *_fedora_* depends on *_ubuntu_*.

# The remainder of jobs are run only if the jdk17_jobs pass.
- job: jdk17_jobs
  dependsOn:
    - quick_txt_diff_ubuntu_jdk17
    - nonquick_txt_diff_ubuntu_jdk17
    - non_txt_diff_ubuntu_jdk17
    - misc_ubuntu_jdk17
    - kvasir_ubuntu_jdk17
    - typecheck_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - checkout: none
  - bash: true

- job: quick_txt_diff_ubuntu_jdk8
  dependsOn:
    - jdk17_jobs
    - quick_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: quick_txt_diff_ubuntu_jdk11
  dependsOn:
    - jdk17_jobs
    - quick_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: quick_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: nonquick_txt_diff_ubuntu_jdk8
  dependsOn:
    - jdk17_jobs
    - nonquick_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: nonquick_txt_diff_ubuntu_jdk11
  dependsOn:
    - jdk17_jobs
    - nonquick_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: nonquick_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: non_txt_diff_ubuntu_jdk8
  dependsOn:
    - jdk17_jobs
    - non_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: non_txt_diff_ubuntu_jdk11
  dependsOn:
    - jdk17_jobs
    - non_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: non_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: misc_ubuntu_jdk8
  dependsOn:
    - jdk17_jobs
    - misc_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: misc_ubuntu_jdk11
  dependsOn:
    - jdk17_jobs
    - misc_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: misc_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk17-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: kvasir_ubuntu_jdk8
  dependsOn:
    - jdk17_jobs
    - kvasir_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: kvasir_ubuntu_jdk11
  dependsOn:
    - jdk17_jobs
    - kvasir_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: kvasir_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk17-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: typecheck_jdk8
  dependsOn:
    - jdk17_jobs
    - typecheck_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk8-plus:latest
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: |
      java -version
      javac -version
    displayName: show Java version
  - bash: ./scripts/test-typecheck.sh
    displayName: test-typecheck.sh

- job: typecheck_jdk11
  dependsOn:
    - jdk17_jobs
    - typecheck_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk11-plus:latest
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: |
      java -version
      javac -version
    displayName: show Java version
  - bash: ./scripts/test-typecheck.sh
    displayName: test-typecheck.sh

- job: typecheck_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-ubuntu-jdk17-plus:latest
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: |
      java -version
      javac -version
    displayName: show Java version
  - bash: ./scripts/test-typecheck.sh
    displayName: test-typecheck.sh

- job: quick_txt_diff_fedora_jdk8
  dependsOn:
    - jdk17_jobs
    - quick_txt_diff_fedora_jdk17
    - quick_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: quick_txt_diff_fedora_jdk11
  dependsOn:
    - jdk17_jobs
    - quick_txt_diff_fedora_jdk17
    - quick_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

# TODO: Having trouble building Fedora Docker file; revisit later
#   container: mdernst/daikon-fedora-jdk17:latest
 - job: quick_txt_diff_fedora_jdk17
   dependsOn:
     - jdk17_jobs
     - quick_txt_diff_ubuntu_jdk17
   pool:
     vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: nonquick_txt_diff_fedora_jdk8
  dependsOn:
    - jdk17_jobs
    - nonquick_txt_diff_fedora_jdk17
    - nonquick_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: nonquick_txt_diff_fedora_jdk11
  dependsOn:
    - jdk17_jobs
    - nonquick_txt_diff_fedora_jdk17
    - nonquick_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

# TODO: having trouble building Fedora Docker file; revisit later
#   container: mdernst/daikon-fedora-jdk17:latest
- job: nonquick_txt_diff_fedora_jdk17
  dependsOn:
    - jdk17_jobs
    - nonquick_txt_diff_fedora_jdk11
    - nonquick_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: non_txt_diff_fedora_jdk8
  dependsOn:
    - jdk17_jobs
    - non_txt_diff_fedora_jdk17
    - non_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: non_txt_diff_fedora_jdk11
  dependsOn:
    - jdk17_jobs
    - non_txt_diff_fedora_jdk17
    - non_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

# TODO: Having trouble building Fedora Docker file; revisit later
#   container: mdernst/daikon-fedora-jdk17:latest
- job: non_txt_diff_fedora_jdk17
  dependsOn:
    - jdk17_jobs
    - non_txt_diff_fedora_jdk11
    - non_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh


- job: misc_fedora_jdk8
  dependsOn:
    - jdk17_jobs
    - misc_fedora_jdk17
    - misc_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: misc_fedora_jdk11
  dependsOn:
    - jdk17_jobs
    - misc_fedora_jdk17
    - misc_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

# TODO: Having trouble building Fedora Docker file; revisit later
#   container: mdernst/daikon-fedora-jdk17-plus:latest
- job: misc_fedora_jdk17
  dependsOn:
    - jdk17_jobs
    - misc_fedora_jdk11
    - misc_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: kvasir_fedora_jdk8
  dependsOn:
    - jdk17_jobs
    - kvasir_fedora_jdk17
    - kvasir_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: kvasir_fedora_jdk11
  dependsOn:
    - jdk17_jobs
    - kvasir_fedora_jdk17
    - kvasir_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

# TODO: Having trouble building Fedora Docker file; revisit later
#   container: mdernst/daikon-fedora-jdk17-plus:latest
- job: kvasir_fedora_jdk17
  dependsOn:
    - jdk17_jobs
    - kvasir_fedora_jdk11
    - kvasir_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-fedora-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: quick_txt_diff_centos_jdk8
  dependsOn:
    - jdk17_jobs
    - quick_txt_diff_centos_jdk17
    - quick_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: quick_txt_diff_centos_jdk11
  dependsOn:
    - jdk17_jobs
    - quick_txt_diff_ubuntu_jdk17
    - quick_txt_diff_centos_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: quick_txt_diff_centos_jdk17
  dependsOn:
    - jdk17_jobs
    - quick_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-quick-txt-diff.sh
    displayName: test-quick-txt-diff.sh

- job: nonquick_txt_diff_centos_jdk8
  dependsOn:
    - jdk17_jobs
    - nonquick_txt_diff_centos_jdk17
    - nonquick_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: nonquick_txt_diff_centos_jdk11
  dependsOn:
    - jdk17_jobs
    - nonquick_txt_diff_centos_jdk17
    - nonquick_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: nonquick_txt_diff_centos_jdk17
  dependsOn:
    - jdk17_jobs
    - nonquick_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-nonquick-txt-diff.sh
    displayName: test-nonquick-txt-diff.sh

- job: non_txt_diff_centos_jdk8
  dependsOn:
    - jdk17_jobs
    - non_txt_diff_centos_jdk17
    - non_txt_diff_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: non_txt_diff_centos_jdk11
  dependsOn:
    - jdk17_jobs
    - non_txt_diff_centos_jdk17
    - non_txt_diff_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: non_txt_diff_centos_jdk17
  dependsOn:
    - jdk17_jobs
    - non_txt_diff_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-non-txt-diff.sh
    displayName: test-non-txt-diff.sh

- job: misc_centos_jdk8
  dependsOn:
    - jdk17_jobs
    - misc_centos_jdk17
    - misc_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: misc_centos_jdk11
  dependsOn:
    - jdk17_jobs
    - misc_centos_jdk17
    - misc_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: misc_centos_jdk17
  dependsOn:
    - jdk17_jobs
    - misc_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk17-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: make showvars
    displayName: make showvars
  - bash: ./scripts/test-misc.sh
    displayName: test-misc.sh

- job: kvasir_centos_jdk8
  dependsOn:
    - jdk17_jobs
    - kvasir_centos_jdk17
    - kvasir_ubuntu_jdk8
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: kvasir_centos_jdk11
  dependsOn:
    - jdk17_jobs
    - kvasir_centos_jdk17
    - kvasir_ubuntu_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

- job: kvasir_centos_jdk17
  dependsOn:
    - jdk17_jobs
    - kvasir_ubuntu_jdk17
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/daikon-centos-jdk17-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./scripts/test-kvasir.sh
    displayName: test-kvasir.sh

