daikon.derive.Derivation.disable_derived_variables=true
daikon.inv.binary.sequenceScalar.Member.enabled=false
daikon.inv.binary.sequenceScalar.MemberFloat.enabled=false
daikon.inv.binary.sequenceScalar.SeqFloatEqual.enabled=false
daikon.inv.binary.sequenceScalar.SeqFloatGreaterEqual.enabled=false
daikon.inv.binary.sequenceScalar.SeqFloatGreaterThan.enabled=false
daikon.inv.binary.sequenceScalar.SeqFloatLessEqual.enabled=false
daikon.inv.binary.sequenceScalar.SeqFloatLessThan.enabled=false
daikon.inv.binary.sequenceScalar.SeqIntEqual.enabled=false
daikon.inv.binary.sequenceScalar.SeqIntGreaterEqual.enabled=false
daikon.inv.binary.sequenceScalar.SeqIntGreaterThan.enabled=false
daikon.inv.binary.sequenceScalar.SeqIntLessEqual.enabled=false
daikon.inv.binary.sequenceScalar.SeqIntLessThan.enabled=false
daikon.inv.binary.sequenceString.MemberString.enabled=false
daikon.inv.binary.twoScalar.FloatEqual.enabled=false
daikon.inv.binary.twoScalar.FloatGreaterEqual.enabled=false
daikon.inv.binary.twoScalar.FloatGreaterThan.enabled=false
daikon.inv.binary.twoScalar.FloatLessEqual.enabled=false
daikon.inv.binary.twoScalar.FloatLessThan.enabled=false
daikon.inv.binary.twoScalar.FloatNonEqual.enabled=false
daikon.inv.binary.twoScalar.IntEqual.enabled=false
daikon.inv.binary.twoScalar.IntGreaterEqual.enabled=false
daikon.inv.binary.twoScalar.IntGreaterThan.enabled=false
daikon.inv.binary.twoScalar.IntLessEqual.enabled=false
daikon.inv.binary.twoScalar.IntLessThan.enabled=false
daikon.inv.binary.twoScalar.IntNonEqual.enabled=false
daikon.inv.binary.twoScalar.LinearBinary.enabled=false
daikon.inv.binary.twoScalar.LinearBinaryFloat.enabled=false
daikon.inv.binary.twoScalar.NumericFloat.Divides.enabled=false
daikon.inv.binary.twoScalar.NumericFloat.Square.enabled=false
daikon.inv.binary.twoScalar.NumericFloat.ZeroTrack.enabled=false
daikon.inv.binary.twoScalar.NumericInt.BitwiseAndZero.enabled=false
daikon.inv.binary.twoScalar.NumericInt.BitwiseComplement.enabled=false
daikon.inv.binary.twoScalar.NumericInt.BitwiseSubset.enabled=false
daikon.inv.binary.twoScalar.NumericInt.Divides.enabled=false
daikon.inv.binary.twoScalar.NumericInt.ShiftZero.enabled=false
daikon.inv.binary.twoScalar.NumericInt.Square.enabled=false
daikon.inv.binary.twoScalar.NumericInt.ZeroTrack.enabled=false
daikon.inv.binary.twoSequence.PairwiseFloatEqual.enabled=false
daikon.inv.binary.twoSequence.PairwiseFloatGreaterEqual.enabled=false
daikon.inv.binary.twoSequence.PairwiseFloatGreaterThan.enabled=false
daikon.inv.binary.twoSequence.PairwiseFloatLessEqual.enabled=false
daikon.inv.binary.twoSequence.PairwiseFloatLessThan.enabled=false
daikon.inv.binary.twoSequence.PairwiseIntEqual.enabled=false
daikon.inv.binary.twoSequence.PairwiseIntGreaterEqual.enabled=false
daikon.inv.binary.twoSequence.PairwiseIntGreaterThan.enabled=false
daikon.inv.binary.twoSequence.PairwiseIntLessEqual.enabled=false
daikon.inv.binary.twoSequence.PairwiseIntLessThan.enabled=false
daikon.inv.binary.twoSequence.PairwiseLinearBinary.enabled=false
daikon.inv.binary.twoSequence.PairwiseLinearBinaryFloat.enabled=false
daikon.inv.binary.twoSequence.PairwiseNumericFloat.Divides.enabled=false
daikon.inv.binary.twoSequence.PairwiseNumericFloat.Square.enabled=false
daikon.inv.binary.twoSequence.PairwiseNumericFloat.ZeroTrack.enabled=false
daikon.inv.binary.twoSequence.PairwiseNumericInt.BitwiseAndZero.enabled=false
daikon.inv.binary.twoSequence.PairwiseNumericInt.BitwiseComplement.enabled=false
daikon.inv.binary.twoSequence.PairwiseNumericInt.BitwiseSubset.enabled=false
daikon.inv.binary.twoSequence.PairwiseNumericInt.Divides.enabled=false
daikon.inv.binary.twoSequence.PairwiseNumericInt.ShiftZero.enabled=false
daikon.inv.binary.twoSequence.PairwiseNumericInt.Square.enabled=false
daikon.inv.binary.twoSequence.PairwiseNumericInt.ZeroTrack.enabled=false
daikon.inv.binary.twoSequence.Reverse.enabled=false
daikon.inv.binary.twoSequence.ReverseFloat.enabled=false
daikon.inv.binary.twoSequence.SeqSeqFloatEqual.enabled=false
daikon.inv.binary.twoSequence.SeqSeqFloatGreaterEqual.enabled=false
daikon.inv.binary.twoSequence.SeqSeqFloatGreaterThan.enabled=false
daikon.inv.binary.twoSequence.SeqSeqFloatLessEqual.enabled=false
daikon.inv.binary.twoSequence.SeqSeqFloatLessThan.enabled=false
daikon.inv.binary.twoSequence.SeqSeqIntEqual.enabled=false
daikon.inv.binary.twoSequence.SeqSeqIntGreaterEqual.enabled=false
daikon.inv.binary.twoSequence.SeqSeqIntGreaterThan.enabled=false
daikon.inv.binary.twoSequence.SeqSeqIntLessEqual.enabled=false
daikon.inv.binary.twoSequence.SeqSeqIntLessThan.enabled=false
daikon.inv.binary.twoSequence.SeqSeqStringEqual.enabled=false
daikon.inv.binary.twoSequence.SeqSeqStringGreaterEqual.enabled=false
daikon.inv.binary.twoSequence.SeqSeqStringGreaterThan.enabled=false
daikon.inv.binary.twoSequence.SeqSeqStringLessEqual.enabled=false
daikon.inv.binary.twoSequence.SeqSeqStringLessThan.enabled=false
daikon.inv.binary.twoSequence.SubSequence.enabled=false
daikon.inv.binary.twoSequence.SubSequenceFloat.enabled=false
daikon.inv.binary.twoSequence.SubSet.enabled=false
daikon.inv.binary.twoSequence.SubSetFloat.enabled=false
daikon.inv.binary.twoSequence.SuperSequence.enabled=false
daikon.inv.binary.twoSequence.SuperSequenceFloat.enabled=false
daikon.inv.binary.twoSequence.SuperSet.enabled=false
daikon.inv.binary.twoSequence.SuperSetFloat.enabled=false
daikon.inv.binary.twoString.StringEqual.enabled=false
daikon.inv.binary.twoString.StringGreaterEqual.enabled=false
daikon.inv.binary.twoString.StringGreaterThan.enabled=false
daikon.inv.binary.twoString.StringLessEqual.enabled=false
daikon.inv.binary.twoString.StringLessThan.enabled=false
daikon.inv.binary.twoString.StringNonEqual.enabled=false
daikon.inv.ternary.threeScalar.FunctionBinary.enabled=false
daikon.inv.ternary.threeScalar.FunctionBinaryFloat.enabled=false
daikon.inv.ternary.threeScalar.LinearTernary.enabled=false
daikon.inv.ternary.threeScalar.LinearTernaryFloat.enabled=false
daikon.inv.unary.scalar.IsPointer.enabled=false
daikon.inv.unary.scalar.LowerBound.enabled=false
daikon.inv.unary.scalar.LowerBoundFloat.enabled=false
daikon.inv.unary.scalar.Modulus.enabled=false
daikon.inv.unary.scalar.NonModulus.enabled=false
daikon.inv.unary.scalar.NonZero.enabled=true
daikon.inv.unary.scalar.NonZeroFloat.enabled=false
daikon.inv.unary.scalar.OneOfFloat.enabled=false
daikon.inv.unary.scalar.OneOfScalar.enabled=false
daikon.inv.unary.scalar.Positive.enabled=false
daikon.inv.unary.scalar.RangeInt.Even.enabled=false
daikon.inv.unary.scalar.RangeInt.PowerOfTwo.enabled=false
daikon.inv.unary.scalar.UpperBound.enabled=false
daikon.inv.unary.scalar.UpperBoundFloat.enabled=false
daikon.inv.unary.sequence.CommonFloatSequence.enabled=false
daikon.inv.unary.sequence.CommonSequence.enabled=false
daikon.inv.unary.sequence.EltLowerBound.enabled=false
daikon.inv.unary.sequence.EltLowerBoundFloat.enabled=false
daikon.inv.unary.sequence.EltNonZero.enabled=false
daikon.inv.unary.sequence.EltNonZeroFloat.enabled=false
daikon.inv.unary.sequence.EltOneOf.enabled=false
daikon.inv.unary.sequence.EltOneOfFloat.enabled=false
daikon.inv.unary.sequence.EltRangeInt.Even.enabled=false
daikon.inv.unary.sequence.EltRangeInt.PowerOfTwo.enabled=false
daikon.inv.unary.sequence.EltUpperBound.enabled=false
daikon.inv.unary.sequence.EltUpperBoundFloat.enabled=false
daikon.inv.unary.sequence.EltwiseFloatEqual.enabled=false
daikon.inv.unary.sequence.EltwiseFloatGreaterEqual.enabled=false
daikon.inv.unary.sequence.EltwiseFloatGreaterThan.enabled=false
daikon.inv.unary.sequence.EltwiseFloatLessEqual.enabled=false
daikon.inv.unary.sequence.EltwiseFloatLessThan.enabled=false
daikon.inv.unary.sequence.EltwiseIntEqual.enabled=false
daikon.inv.unary.sequence.EltwiseIntGreaterEqual.enabled=false
daikon.inv.unary.sequence.EltwiseIntGreaterThan.enabled=false
daikon.inv.unary.sequence.EltwiseIntLessEqual.enabled=false
daikon.inv.unary.sequence.EltwiseIntLessThan.enabled=false
daikon.inv.unary.sequence.NoDuplicates.enabled=false
daikon.inv.unary.sequence.NoDuplicatesFloat.enabled=false
daikon.inv.unary.sequence.OneOfFloatSequence.enabled=false
daikon.inv.unary.sequence.OneOfSequence.enabled=false
daikon.inv.unary.sequence.SeqIndexFloatEqual.enabled=false
daikon.inv.unary.sequence.SeqIndexFloatGreaterEqual.enabled=false
daikon.inv.unary.sequence.SeqIndexFloatGreaterThan.enabled=false
daikon.inv.unary.sequence.SeqIndexFloatLessEqual.enabled=false
daikon.inv.unary.sequence.SeqIndexFloatLessThan.enabled=false
daikon.inv.unary.sequence.SeqIndexFloatNonEqual.enabled=false
daikon.inv.unary.sequence.SeqIndexIntEqual.enabled=false
daikon.inv.unary.sequence.SeqIndexIntGreaterEqual.enabled=false
daikon.inv.unary.sequence.SeqIndexIntGreaterThan.enabled=false
daikon.inv.unary.sequence.SeqIndexIntLessEqual.enabled=false
daikon.inv.unary.sequence.SeqIndexIntLessThan.enabled=false
daikon.inv.unary.sequence.SeqIndexIntNonEqual.enabled=false
daikon.inv.unary.string.OneOfString.enabled=false
daikon.inv.unary.string.PrintableString.enabled=false
daikon.inv.unary.stringsequence.CommonStringSequence.enabled=false
daikon.inv.unary.stringsequence.EltOneOfString.enabled=false
daikon.inv.unary.stringsequence.OneOfStringSequence.enabled=false
